:root {
    --white: #ffffff;
    --gray-100: #e1e1e6;
    --gray-300: #c4c4cc;
    --gray-400: #8d8d89;
    --gray-600: #323258;
    --gray-700: #29292e;
    --gray-800: #202024;
    --gray-900: #121214;

    --green-300: #00b37e;
    --green-500: #00875f;

    --red-500: #f75a68;
}

:focus {
    outline: transparent;
    box-shadow: 0 0 0 2px var(--green-500);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: var(--gray-900);
    color: var(--gray-300);
    -webkit-font-smoothing: antialiased;
}

body,
input,
textarea,
button {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 1rem;
}

.loading {
    width: 100vw;
    height: 100vh;
    background: #121214;

    &::after {

    }
}

.wrapper {
    max-width: 70rem;
    margin: 2rem auto;
    padding: 0 1rem;

    display: grid;
    grid-template-columns: 256px 1fr;
    gap: 2rem;
    align-items: flex-start;
}

.content p {
    margin-top: 1rem;
}

.content a {
    font-weight: bold;
    color: var(--green-500);
    text-decoration: none;

    transition: color 0.2s;
}

.content a:hover {
    color: var(--green-300);
}



.author {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.authorInfo {
    strong {
        display: block;
        color: var(--gray-100);
    }

    &>a {
        display: block;
        font-weight: 400;
        color: var(--gray-400);
        text-decoration: none;

        transition: color 0.2s;
    }

    a {
        font-weight: bold;
        color: var(--green-500);
        text-decoration: none;

        transition: color 0.2s;
    }
}


.avatarWithBorder {
    width: calc(3rem + 12px);
    height: calc(3rem + 12px);
    border-radius: 8px;
    border: 4px solid var(--gray-800);
    outline: 2px solid var(--green-500);
}

.comment {
    margin-top: 1rem;
    display: flex;
    gap: 1rem;

    &>img {
        width: 3rem;
        height: 3rem;
        border-radius: 8px;
    }
}

.commentContent {
    background: var(--gray-700);
    border-radius: 8px;
    padding: 1rem;

    header {
        display: flex;
        align-items: flex-start;
        justify-content: space-between;
    }

    p {
        margin-top: 1rem;
        color: var(--gray-300);
    }
}

@media (min-width: 400px) {
    html {
        font-size: 87.5%;
    }

    .wrapper {
        grid-template-columns: 1fr;
    }
}